body {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.letter {
  position: relative;
  max-width: 600px;
  box-shadow: 4px 4px 20px;
  border-radius: 0.5em;
}

.receiver {
  position: absolute;
  font-size: 23px;
  margin-left: 3em;
  margin-top: 7em;
  min-width: 6em;
}

.sender {
  position: absolute;
  font-size: 17px;
  margin-right: 25em;
  margin-bottom: 18em;
  min-width: 8em;
}

.stamp {
  position: absolute;
  width: 100px;
  height: auto;
  margin-bottom: 20em;
  margin-left: 30em;
}

p {
  font-family:
  border-bottom: 1px solid black;
  margin: 0;
}
