* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  background-color: rgb(232, 230, 230);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  flex-direction: column;
  
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(7, 233, 56);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

header ul {
  justify-content: center;
  align-items: center;
  list-style: none;
  font-weight: bold;
  padding: 1rem;
}

header li {
  justify-content: center;
  display: inline;
  margin-right: 1rem;
  color: rgb(26, 25, 25);
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
  padding: 0 1rem;
}

a:hover {
  color: white;
}

main {
    display: flex;
    flex: 1;
    padding: 2rem;
    min-height: 30rem;
}

article {
    border-radius: 10px;
  padding: 1rem;
  margin-right: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  background-color: white;
  margin-bottom: 1rem;
}

article h1 {
}

section {
  margin-top: 1rem;
}

section p {
  margin-top: 1rem;
}

aside {
    border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  background-color: white;
  min-height: 30rem;
  margin-bottom: 1rem;
}

aside h2 {
  font-style: italic;
  padding: 1rem;
}

aside ul {
  color: red;
  list-style: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  min-height: 3rem;
  background-color: rgb(143, 239, 164);
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
