body {
	background-color: #E7E2E2;
	display: flex;
	flex-direction: column;  /* main-axis är column */
	align-items: center; /* row är cross-axis */
}

.japan-flag {
	background-color: white;
	width: 60vw;
	height: 35vw;
	display: flex;
	flex-direction: row;  /* main-axis är row*/
	justify-content: center;  /* centrerar längs main-axis */
	align-items: center;  /* cross-axis, column */
}

/* Vi väljer ut: alla HTML-element med klassen "circle", som har ett element med klassen "japan-flag" som PARENT. */
.japan-flag > .circle {
	background-color: #C61D0A;
	width: 20vw;
	height: 20vw;
	border-radius: 50%;
}